{:prod     true
 :database {
            :crux.node/topology [crux.jdbc/topology]
            :crux.jdbc/dbname   "todoaday"
            :crux.jdbc/dbtype   "postgresql"
            }
 :port     3000}
