{
 :database {
            :crux.node/topology [crux.jdbc/topology]
            :crux.jdbc/dbname   "todoaday"
            :crux.jdbc/dbtype   "h2"
            :crux.jdbc/host     "localhost"
            :crux.jdbc/user     "todoaday"
            :crux.jdbc/password "todoaday"
            :crux.kv/db-dir     "./db"
            }
 :port     3000
 }
